# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# =========================
# Node / Dependencies
# =========================
node_modules/
bower_components/
jspm_packages/
web_modules/

# =========================
# Build / Output / Cache
# =========================
dist/
build/
.cache/
.parcel-cache/
.next/
out/
.nuxt/
.vuepress/dist/
.temp/
.svelte-kit/
**/.vitepress/dist/
**/.vitepress/cache/
.docusaurus/

# =========================
# Environment / Config
# =========================
.env
.env.*
!.env.example
.npm
.eslintcache
.stylelintcache
.node_repl_history
apikey.js


# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/
.vscode-test

# =========================
# Fonts
# =========================
*.ttf

# =========================
# Misc / Optional
# =========================
pids
*.pid
*.seed
*.pid.lock
*.tsbuildinfo
*.tgz
.yarn-integrity
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
vite.config.js.timestamp-*
