@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body{
  background-color: rgb(233, 235, 238);
}
.users{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.card{
  /* border: 2px solid black; */
  display: flex;
  padding: 20px;
  width: 580px;
  background-color: white;
  border-radius: 10px;
}
.card-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}
.card-right{
 /* border: 2px solid blue; */
}

img{
  width: 20px;
  margin: 3px;
}
.details{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.details p{
  font-size: 0.85rem;
}

.user-info{
  width: fit-content;
  /* border: 2px solid blue; */
  margin-bottom: 10px;
}

.user-name h2{
  font-weight: 600;
  font-size: 22px;
}

.user-name p{
  color: rgb(116, 118, 120);
}

.user-company h2{
  font-weight: 600;
  font-size: 16px;
}

.user-company p{
  font-style: italic;
  font-size: 14px;
  color: rgb(97, 98, 101);
}

.user-address h3{
  font-weight: 600;
  font-size: 16px;
}

.user-address p{
  font-size: 14px;
}