
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.container {
    margin:20px;
    display: flex;
    justify-content: flex-start;
    gap:50px;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    background-color: #efefef;
    border-radius: 20px;
    box-shadow: 8px 12px 14px 4px #d6d0d0;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.card img{
    margin-top: 10px;
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.card :nth-child(2) {
  font-size: 25px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 3px;
}

.card :nth-child(3) {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 3px;
}
.card :nth-child(4) {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 3px;
}
.card :nth-child(5) {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 3px;
}
.card :nth-child(6) {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 3px;
}
.card button a{
    text-decoration: none;
    font-size: 20px;
}

.card button{
   margin-left: 10px;
   margin-bottom: 10px;
   border-radius: 20px;
   padding: 3px 6px;
   border: none;
   background-color: rgb(200, 225, 234);
}

button:hover{
    background-color: rgb(153, 213, 237);
}