.card {
    width: 350px;
    height: 450px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    position: relative;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.card:hover {
    /* transform: translateY(-5px); */
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 5px;
    font-size: 1rem;
}

.card p {
    /* border: 2px solid black; */
    font-family: 'Inter', sans-serif;
    height: 60px;
    font-size: 0.80rem;
    overflow: hidden;
    /* padding: 4px; */
    line-height: 1.5;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.card button {
    position: absolute;
    bottom: 5%;
    left: 35%;
    /* margin-bottom: 5px; */
}