@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
body{
   background-color: #effcff;
}
main{
    margin-top: 3rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    box-shadow: -6px -1px 20px #938b8bc2;
    backdrop-filter: blur(15px);
    
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.nav-logo:hover{
    cursor: pointer;
}

.nav-logo p{
    font-size: 20px;
    font-weight: 500;
}

.nav-logo img{
    width: 50px;
}
.nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-right: 30px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid grey;
}
.nav-search input{
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.nav-search input:focus{
    border:none;
    outline:none;
}

.weather-data{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 6px 20px 0px #736d6dba;
    backdrop-filter: blur(20px);
}

.weather-info{
    padding: 20px;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 23px;
    font-size: 1.2rem;

}

.weather-image{
    width:28vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 15px;
}

.weather-info img{
    width: 2rem;
}
.isDay{
    display: flex; 
    gap: 10px; 
    justify-content: center; 
    align-items: center;
}
.isDay img{
    width: 30px;
}

#search:hover{
    cursor: pointer;
}

.condition-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
#condition-logo{
    width: 4rem;
}
#condition{
    font-size: 1.2rem;
}
.windcolor{
    filter: invert(1);
}
#isday{
    font-size: 1.3rem;
}

@media (max-width:992px){
    .weather-data{
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 0;
        box-shadow: none;
    }
    .weather-info{
        justify-content: start;
        align-items: start;
        width: 100%;
        padding: 10px;
        margin-top: 2rem;
        box-shadow: 0px 6px 20px 0px #736d6dba;
        border-radius: 12px;
    }
    .weather-image{
        width: 100%;
        box-shadow: 0px 6px 20px 0px #736d6dba;
        padding: 20px;
        border-radius: 12px;
    }
}

@media (max-width:663px) {
    .nav{
        flex-direction: column;
        justify-content: start;
        align-content: center;
    }
    .nav-search{
        width: 90vw;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .nav-search input{
        width: 100%;

    }
    .nav-logo{
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

}