.container {
    display: flex;
    border: 2px solid black;
    height: 100px;
}
.box {
    background-color: lightblue;
    border: 1px solid blue;
    width: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}
.box1 {
    flex-grow: 1; 
} 
.box2 { 
    flex-grow: 1; 
} 
.box3 { 
    flex-grow: 2;
}