*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
.container{
    margin-top: 5vh;
    height:80vh;
    width: 100vw;
    background-color: rgb(147, 248, 248);
    position: relative;
}

.ball{
    height: 70px;
    width: 70px;
    background-color: red;
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    animation: bounce 5s 1 cubic-bezier(0.53, 0.55, 0.62, 0.59) forwards; 
}
.ball p{
    text-align: center;
    padding-top: 20px;
    color: white;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
@keyframes bounce {
    10%{
        transform: translateY(-470px) translateX(100px) rotate(90deg);
    }
    20%{
        transform: translateY(0px) translateX(200px) rotate(180deg);
    }
    30%{
        transform: translateY(-350px) translateX(300px) rotate(270deg);
    }
    40%{
        transform: translateY(0px) translateX(400px) rotate(360deg);
    }
    50%{
        transform:translateY(-200px) translateX(500px) rotate(450deg);
    }
    60%{
        transform: translateY(0px) translateX(600px) rotate(540deg);
    }
    70%{
        transform: translateY(-100px) translateX(700px) rotate(630deg);
    }
    80%{
        transform: translateY(0px) translateX(800px) rotate(720deg);
    }
    90%{
        transform:translateY(-50px) translateX(900px) rotate(810deg)
    }
    100%{
        transform: translateY(0px) translateX(1000px) rotate(900deg);
    }
}